.axis path {
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: Lato;
    font-size: 13px;
}

.legend {
    font-size: 18px;
    font-weight: bold;
}

.legend rect {
    fill:white;
    stroke:black;
    opacity:0.8;
}

.svg-container { 
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; 
    vertical-align: middle; 
    overflow: hidden; 
}

.svg-content { 
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 30;
}
